html{
    min-height:100%;
    overflow:auto;
}

.animated {
            background-color: tan;
            background-position: left top;
            padding-top:5px;
            margin-bottom:30px;
            -webkit-animation-duration: 3s;animation-duration: 3s;
            -webkit-animation-fill-mode: both;animation-fill-mode: both;
         }

         @-webkit-keyframes fadeOut {
            100% {opacity: 1;}
            0% {opacity: 0;}
         }

         @keyframes fadeOut {
            100% {opacity: 1;}
            0% {opacity: 0;}
         }

         .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
         }

body{
    margin: 20px;
    background:url(stucco.png);
    background-attachment: fixed;
}

h1{
    color: #070;
    font-family: serif;
    text-align: center;
    font-size: 25px;
    text-shadow:
           1px 1px 0 white,
      -1px -1px 0 #060,  
       1px -1px 0 #060,
      -1px 1px 0 #060,
       1px 1px 0 #060;
    font-style: italic;      
}

h2{
    text-decoration: underline;
    font-size: 28px;
    font-family: serif;
    font-weight: bolder;
}

h3{
    font-size: 22px;
    font-family: serif;
    font-weight: 600;
}

h4{
    font-family: serif;
    font-weight: bolder;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: repeating-linear-gradient(to right, #995c00, #ffd699, #995c00 100%);
    overflow-x: hidden;
    transition: .8s;
    padding-top: 150px;
    font-family: 'Quintessential';
    font-weight: bold;
}

.sidenav a {
    padding: 35px 27px;
    font-size: 32px;
    text-align: center;
    color: #090;
    display: block;
    transition: 1s;
    max-width: 100%;
    text-shadow:
       1px 1px 0 white,
      -1px -1px 0 #040,  
       1px -1px 0 #040,
      -1px 1px 0 #040,
       1px 1px 0 #040;
    text-decoration: none;
}

.sidenav a:hover {
    color: red;
    text-shadow:
       1px 1px 0 tan,
      -1px -1px 0 white,  
       1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

.sidenav .closebtn {
    padding: 20px 20px 28px 22px;
    position:absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
    text-decoration: none;
}

.navicon {
    width: 30px;
    height: 5px;
    background-color: firebrick;
    margin: 6px 0px;
}

nav{
    text-align:center;
    margin:auto;
    padding: 5px;
}

nav li {
    font-family: 'Kanit';
    font-size: 28px;
    font-weight:bolder;
    display:inline;
    text-align: center;
    margin: 20px; 
}

/* unvisited link */
nav li a:link, nav li a:visited {
    color: #070;
    text-decoration: none;
    margin: 5px 45px;
    text-shadow:
       1px 1px 0 white;  
}

/* mouse over link */
nav li a:hover{
    color:white;
    text-shadow:
       1px 1px 0 darkred,
      -1px -1px 0 darkred,  
       1px -1px 0 darkred,
      -1px 1px 0 darkred,
       1px 1px 0 darkred;
}


#intro{
    margin: 20px auto;
    max-width: 1000px;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#intro img{
    width: 1000px;
    max-width: 100%;
    margin: auto;
    border: 3px solid firebrick;
    border-radius: 10px;
}

#hours, #location, #reservations{
    text-align: center;
    padding-bottom: 20px;
    color: #700;
}

@media (max-width: 849px){
    nav{
        display: none;
    }
    
    #logo{
        font-size: 18px;
        color: #800;
        font-style: italic;
        font-weight: bolder;
        width: 350px;
        margin: auto;
        text-align: center;
    }
    
    #intro h1{
        font-size: 38px;
    }
    
    #reservation{
        color:#ffeecc;
        padding: 10px 25px;
        background: repeating-linear-gradient(to top, #500, #900, red 100%);
        width: 100px;
        border-radius: 30px;
        font-family: 'federant';
        text-decoration: none;
        border: .5px solid #600;
        box-shadow: 2px 4px 8px #700;

    }
    
    textarea, input{
    font-family: 'federant', serif;
    color:red;
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
    max-width: 500px;
    }

    select{
        font-family: 'federant', serif;
        color:red;
        text-align: center;
        font-size: 18px;
        font-weight:bolder;
        max-width: 50%;
        box-sizing: border-box;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: darkseagreen;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        margin: auto;
        text-align: center;
        width: 90%; /* Full width */
        padding: 8px; /* Some padding */  
        border: 1.5px solid red; /* Gray border */
        border-radius: 20px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 10px; /* Add a top margin */
        margin-bottom: 30px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        margin: auto;
        text-align: center;
        font-size: 22px;
        background-color: darkcyan;
        color: #ffdead;
        padding: 8px 30px;
        border: 1px solid tan;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 0px 5px 25px black;
        text-shadow:
           1px 1px 0 black,
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px 1px 0 black,
           1px 1px 0 black;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }

    /* When moving the mouse over the submit button, add a blue color */
    input[type=submit]:hover {
        margin: auto;
        text-align: center;
        border: 1px solid white;
        background-color: red;
        border-radius: 25px;
        text-shadow:
           1px 1px 0 black,
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px 1px 0 black,
           1px 1px 0 black;
    }

    /* Add a background color and some padding around the form */
    .container{
        border-radius: 50px;
        border: 10px double tan;
        padding: 100px 0px;
        background: url(hiclipart.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-color: #600;
        width: 850px;
        max-width: 95%;
        margin: 50px auto;
    }

    #form {
        padding:20px 0px 40px;
        text-align: center;
    }

    label{
        text-align: center;
        font-size: 25px;
        text-align: center;
        font-family:'Quintessential', serif;
        color:#ffdead;
        list-style-type: none;
        text-shadow:
           1px 1px 0 #070,
          -1px -1px 0 firebrick,  
           1px -1px 0 firebrick,
          -1px 1px 0 firebrick,
           1px 1px 0 firebrick;
    }
    footer{
    margin-top: 20px;
    text-align: center;
    font-size: 20PX;
    color: #800; 
    }
}

@media (max-width: 600px){
    nav{
        display: none;
    }
    
    #reservation{
        color:#ffeecc;
        padding: 10px 25px;
        background: repeating-linear-gradient(to top, #500, #900, red 100%);
        width: 100px;
        border-radius: 30px;
        font-family: 'federant';
        text-decoration: none;
        border: .5px solid #600;
        box-shadow: 2px 4px 8px #700;

    }
    
    #intro h1{
        font-size: 22px;
    }
    
    #logo{
        font-size: 12px;
        color: #800;
        font-style: italic;
        font-weight: bolder;
        width: 250px;
        margin: auto;
        text-align: center;
    }
    
    #logo img{
        max-width: 200px;
        margin: auto 20px;
    }
    
    h2{
        font-size: 22px;
    }
    
    h3{
        font-size: 20px;
    }

    select{
        font-family: 'federant', serif;
        color:red;
        text-align: center;
        font-size: 18px;
        font-weight:bolder;
        max-width: 50%;
        box-sizing: border-box;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: darkseagreen;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        margin: auto;
        text-align: center;
        width: 80%; /* Full width */
        padding: 8px; /* Some padding */  
        border: 1.5px solid red; /* Gray border */
        border-radius: 20px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 10px; /* Add a top margin */
        margin-bottom: 10px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        margin: auto;
        text-align: center;
        font-size: 22px;
        background-color: darkcyan;
        color: #ffdead;
        padding: 8px 30px;
        border: 1px solid tan;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 0px 5px 25px black;
        text-shadow:
           1px 1px 0 black,
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px 1px 0 black,
           1px 1px 0 black;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }

    /* When moving the mouse over the submit button, add a blue color */
    input[type=submit]:hover {
        margin: auto;
        text-align: center;
        border: 1px solid white;
        background-color: red;
        border-radius: 25px;
        text-shadow:
           1px 1px 0 black,
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px 1px 0 black,
           1px 1px 0 black;
    }

    /* Add a background color and some padding around the form */
    .container{
        border-radius: 30px;
        border: 10px double tan;
        padding: 50px 0px;
        background: url(hiclipart.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-color: #600;
        width: 850px;
        max-width: 98%;
        margin: auto;
    }

    #form {
        padding:20px 0px 40px;
        text-align: center;
    }

    label{
        text-align: center;
        font-size: 25px;
        text-align: center;
        font-family:'Quintessential', serif;
        color:#ffdead;
        list-style-type: none;
        text-shadow:
           1px 1px 0 #070,
          -1px -1px 0 firebrick,  
           1px -1px 0 firebrick,
          -1px 1px 0 firebrick,
           1px 1px 0 firebrick;
    }
    
    footer{
    margin-top: 20px;
    text-align: center;
    font-size: 20PX;
    color: #800; 
    }
}

@media (min-width: 850px){
    .sidenav, .navicon{
        display: none;
    }
    
    #logo{
        font-size: 20px;
        color: #800;
        font-style: italic;
        font-weight: bolder;
        margin: auto;
        text-align: center;
    }
    
    #logo img{
        margin: auto;
        width: 35%;
    }
    
    #info{
        display:flex;
        max-width:1000px;
        margin: 25px auto;
    }
    
    #hours{
        flex: 3;
        text-align: center;
        max-width: 250px;
        margin: auto;
    }
    
    #reservations{
        flex: 2;
        text-align: center;
        max-width: 350px;
        margin: auto;
    }
    
    #location{ 
        text-align: center;
        flex: 1;
        max-width: 250px;
        margin: auto;
    }
    
    
    h1{
        font-size: 50px;
        margin: 50px;
    }
    
    #reservation{
        color:#ffeecc;
        padding: 10px 20px;
        background: repeating-linear-gradient(to top, #500, #900, red 100%);
        width: 100px;
        border-radius: 30px;
        font-family: 'Federant';
        font-size: 20px;
        text-decoration: none;
        border: .5px solid #800;
        box-shadow: 2px 4px 8px #700;

    }
    
    textarea, input{
    font-family: 'federant', serif;
    color:red;
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
    max-width: 500px;
    }

    select{
        font-family: 'federant', serif;
        color:red;
        text-align: center;
        font-size: 18px;
        font-weight:bolder;
        max-width: 50%;
        box-sizing: border-box;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: darkseagreen;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        margin: auto;
        text-align: center;
        width: 90%; /* Full width */
        padding: 8px; /* Some padding */  
        border: 1.5px solid red; /* Gray border */
        border-radius: 20px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 10px; /* Add a top margin */
        margin-bottom: 30px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        margin: auto;
        text-align: center;
        font-size: 22px;
        background-color: darkcyan;
        color: #ffdead;
        padding: 8px 30px;
        border: 1px solid tan;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 0px 5px 25px black;
        text-shadow:
           1px 1px 0 black,
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px 1px 0 black,
           1px 1px 0 black;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }

    /* When moving the mouse over the submit button, add a blue color */
    input[type=submit]:hover {
        margin: auto;
        text-align: center;
        border: 1px solid white;
        background-color: red;
        border-radius: 25px;
        text-shadow:
           1px 1px 0 black,
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px 1px 0 black,
           1px 1px 0 black;
    }

    /* Add a background color and some padding around the form */
    .container{
        border-radius: 50px;
        border: 10px double tan;
        padding: 100px 0px;
        background: url(hiclipart.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-color: #600;
        width: 850px;
        max-width: 95%;
        margin: 50px auto;
    }

    #form {
        padding:20px 0px 40px;
        text-align: center;
    }

    label{
        text-align: center;
        font-size: 25px;
        text-align: center;
        font-family:'Quintessential', serif;
        color:#ffdead;
        list-style-type: none;
        text-shadow:
           1px 1px 0 #070,
          -1px -1px 0 firebrick,  
           1px -1px 0 firebrick,
          -1px 1px 0 firebrick,
           1px 1px 0 firebrick;
    }

    footer{
        margin-top: 20px;
        text-align: center;
        font-size: 20PX;
        color: #800; 
    }
